@charset "UTF-8";

:root {
 --black: #242424;
 --nav: #191919;
 --white: #f5f5f5;
 --yellow: #D5B400;
 --footer: #141414;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior:smooth
}

body {
	background-color: var(--black, #242424);
	color: var(--white, #f5f5f5);
	font-family: 'Public Sans', sans-serif;
}

a {
	text-decoration: none;
	color: var(--white, #f5f5f5);
	transition: color .2s ease-in;
	cursor: pointer;
}

a:hover {
	color: var(--yellow, #D5B400);
}

/* Navbar Style */

nav {
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0px;
	background-color: var(--nav, #191919);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: grid;
	grid-template-columns: 40% 20% 40%;
	grid-template-rows: 100%;
	z-index: 50;
}

	nav .warp-menu {
		display: flex;
		justify-content: space-around;
		align-items:center;
	}

		nav .warp-menu .menu {
			width: 100%;
			display: flex;
			justify-content: space-around;
			font-weight: 300;
			font-size: 18px;
			list-style: none;
		}

		nav .warp-menu .menu-2 {
			width: 100%;
			display: flex;
			justify-content: space-around;
			font-weight: 300;
			font-size: 18px;
			list-style: none;
		}

			nav .warp-menu .menu a {
				color: var(--white, #f5f5f5);
				text-decoration: none;
				transition: color .4s ease-in;
			}

				nav .warp-menu .menu a:hover {
					color: var(--yellow, #D5B400);
				}

			nav .warp-menu .menu-2 a {
				color: var(--white, #f5f5f5);
				text-decoration: none;
				transition: color .4s ease-in;
			}

				nav .warp-menu .menu-2 a:hover {
					color: var(--yellow, #D5B400);
				}

/* About Style */

main {
  width: 100%;
  height: 90vh;
  margin: 10vh 0 100px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(36, 36, 36, 0.2), rgba(36, 36, 36, 0.2)), url('background-about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

  main .warp-about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

    main .warp-about .item-about {
      text-align: left;
      position: relative;
    }

    main .warp-about .item-about .mask-img {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 50%;
      margin-top: -150px;
      left: 50%;
      margin-left: -150px;
      border-radius: 50%;
      border: solid 1px var(--yellow, #D5B400);
      background-color: transparent;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;
      vertical-align: middle;
    }

      main .warp-about .item-about .mask-img img {
        width: 100%;
      }

    main .warp-about .item-about h1 {
      font-weight: 400;
      font-size: 2em;
      color: var(--yellow, #D5B400);
      margin: 0;
      text-shadow: 2px 2px 8px #242424;
    }

    main .warp-about .item-about hr {
      width: 100%;
      margin: 10px 0px;
      border-color: var(--yellow, #D5B400);
    }

    main .warp-about .item-about p {
      font-weight: 200;
      font-size: 1em;
      color: var(--white, #f5f5f5);
    }

/* Footer Style */

footer {
	width: 100%;
	height: 100%;
	background-color: var(--footer, #141414);
	padding: 20px 5%;
	text-align: left;
}

	footer .footer-map {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}

		footer .footer-map .foo-col {
			width: 33.3%;
		}

			footer .footer-map .foo-col header {
				font-weight: 500;
				font-size: 1.1em;
				color: var(--yellow, #D5B400);
				margin: 10px 0px;
				text-align: left;
			}

			footer .footer-map .foo-col p {
				font-weight: 200;
				font-size: 0.9em;
				color: var(--white, #f5f5f5);
				margin: 15px 0px;
			}

				footer .footer-map .foo-col p b {
					color: var(--yellow, #D5B400);
				}

				footer .footer-map .foo-col a {
					margin-right: 20px;
				}

			footer .footer-map .foo-col i {
				color: var(--white, #f5f5f5);
				transition: color .2s ease-in;
			}

				footer .footer-map .foo-col i:hover {
					color: var(--yellow, #D5B400);
				}

	footer .footer-copy {
		width: 100%;
		padding: 30px 0px 5px;
		text-align: center;
		position: relative;
	}

		footer .footer-copy p {
			font-weight: 100;
			font-size: 0.8em;
		}

		footer .footer-copy button {
			position: absolute;
			bottom: 50%;
			margin-bottom: -30px;
			right: 0;
			background-color: transparent;
			color: var(--white, #f5f5f5);
			border: none;
			transition: color 0.2s ease-in;
			cursor: pointer;
		}

			footer .footer-copy button:hover {
				color: var(--yellow, #D5B400);
			}


@media screen and (max-width: 960px){

  /* About Style */

  main .warp-about {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 350px auto;
  }

    main .warp-about .item-about {
      width: 100%;
      height: 100%;
    }

}

@media screen and (max-width: 768px){

	/* Navbar Style */

	nav {
		display: block;
		position: fixed;
		top: 0;
	}

		nav .warp-menu #logo {
			position: absolute;
			top: 50%;
			margin-top: -25px;
			left: 50%;
			margin-left: -77.5px;
			z-index: 100;
		}

		nav .warp-menu .menu {
			position: absolute;
			top: 0;
			left: 100vw;
			width: 100vw;
			height: 45.1vh;
			margin-top: 9.9vh;
			flex-direction: column;
			text-align: center;
			font-size: 24px;
			background-color: var(--black, #242424);
			transition: all .7s ease-out;
      pointer-events: none;
		}

		nav .warp-menu .menu-2 {
			position: absolute;
			top: 54vh;
			left: 100vw;
			width: 100vw;
			height: 46vh;
			flex-direction: column;
			text-align: center;
			font-size: 24px;
			background-color: var(--black, #242424);
			transition: all .7s ease-out;
      pointer-events: none;
		}

		nav .warp-menu .open {
      left: 0;
      pointer-events: auto;
    }

	nav .navbar {
		position: absolute;
		right: 5%;
		top: 50%;
		z-index: 100;
		cursor: pointer;
		transform: translate(-5%, -50%);
	}

		nav .navbar .line {
			width: 30px;
			height: 2px;
			background: var(--white, #f5f5f5);
			margin: 5px;
		}

  /* About Style */

  main {
    height: auto;
    padding: 0 8%;
  }

	/* Footer Style */

	footer .footer-map .foo-col {
		width: 50%;
	}

		footer .footer-map .foo-col p {
			font-size: 0.8em;
		}

	footer .footer-copy p {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 425px){

  /* About Style */

  main {
    height: auto;
    margin: 10vh 0 100px;
    padding: 0 5%;
  }

  main .warp-about .item-about .mask-img {
    width: 300px;
    height: 300px;
  }

	/* Footer Style */

	footer .footer-map .foo-col {
		width: 100%;
	}

	footer .footer-copy button {
		margin-bottom: -45px;
	}

}
